.App {
  text-align: center;
  background: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .navbar {
    background: #d5525f;
    position: fixed;
    width: 100%;
    color: #fff;
    padding: 10px 0;

    .MuiTabs-flexContainer {
      align-items: center;
      justify-content: center;
    }
  }

  #main {
    margin-top: 70px;
  }

  #timesheet-input-group {
    flex-direction: row;

    .MuiSelect-outlined.MuiSelect-outlined {
      min-width: 160px;
    }
  }

  .MuiTableHead-root {
    background: #d5525f;
  }

  .inner-header, .subtotal {
    background: #ebebeb;
  }
}

